{% extends 'base.html.twig' %}

{% block title %}Actualiter Black Syndicate{% endblock %}

{% block body %}
<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Black Syndicate
            <small>Informations</small>
        </h1>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="../img/infos.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Votre histoire dans le milieu</h2>
                <p>Le Milieu, dit aussi haute-pègre, ou grand banditisme est l'appellation donnée au crime organisé.</p>
                <p>C'est sur quoi nous nous sommes focalisé lors du développement du serveur, bien sûr les activités et les métiers "légaux" sont présents, mais uniquement ceux apportant des interactions entre les joueurs.<br> Finis les métiers de farm inutile...</p>
                <p>Concernant les activités illégales tout a été repensé, notre objectif était d'avoir des activités proche du réel, ainsi elles ont été organisées sous forme de réseau, réseau qui peut être démantelé par la police.<br> Il est maintenant
                    nécessaire de s'organiser, d'avoir des contacts et un gang, gang que vous pouvez rejoindre ou créer.</p>
            </div>
        </div>
        <!-- /row -->

        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- Question -->
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingOne">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Informations Supplémentaires</a>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <ul>
                            <li>IP :
                                <strong>black-syndicate.info</strong>
                            </li>
                            <li>Slots :
                                <strong>64</strong>
                            </li>
                            <li>Statut :
                                <strong id="on">En ligne</strong>
                            </li>
                            <li>Manette :
                                <strong>Compatible</strong>
                            </li>
                            <li>White-list :
                                <strong>Désactivée</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-faq">
                <div class="card-header" role="tab" id="headingTwo">
                    <h4 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Règlement du Serveur</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">

                        <h3>Lexique</h3>
                        <ul>
                        {% for rules in rules if rules.categorie in 'Lexique' %}
                            <li><strong>{{ rules.name }}</strong> {{ rules.contenue }} </li>
                        {% endfor %}
                        </ul>
                        <hr>
                        <h3>Règles Générales</h3>
                        <ul>
                       {% for rules in rules if rules.categorie in 'Règles Générales' %}
                            <li> {{ rules.contenue }} </li>
                        {% endfor %}
                        </ul>
                        <hr>
                        <h3>Règles de Communication</h3>
                        <ul>
                           {% for rules in rules if rules.categorie in 'Règles de Communication' %}
                            <li> {{ rules.contenue }} </li>
                        {% endfor %}
                        </ul>
                        <hr>
                        <h3>Règles de Réanimation</h3>
                        <ul>
                        {% for rules in rules if rules.categorie in 'Règles de Réanimation' %}
                            <li> {{ rules.contenue }} </li>
                        {% endfor %}    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /accordion -->

        <!-- Features -->
        <hr>
        <h2>Services publics</h2>
        <div class="row">
        {% for service in service if service.categorie in 'Services publics' %}
            <!-- Feature -->
            <div class="col-lg-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ service.title }}</h2>
                        <h6 class="card-subtitle mb-2 text-muted">Recrutement: {% if service.recrutement == true %}<span style="min-width: 50px; text-align:center; color: black;" class="badge badge-success">Ouvert</span> {% elseif service.recrutement == null %} <span style="min-width: 50px; text-align:center; color: black;"class="badge badge-danger">Fermer</span> {% endif %}</h6>
                        <p class="card-text">{{ service.contenue }}
                        </p>
                    </div>
                </div>
            </div>
        {%  endfor %}
            <!-- Feature -->
           
        </div>
        <!-- /row -->

        <hr>
        <h2>Services privés</h2>
        <div class="row ">
        {% for service in service if service.categorie in 'Services privés' %}
            <!-- Feature -->
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.title }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ service.title }}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Recrutement: {% if service.recrutement == true %}<span style="min-width: 50px; text-align:center; color: black;" class="badge badge-success">Ouvert</span> {% elseif service.recrutement == null %} <span style="min-width: 50px; text-align:center; color: black;"class="badge badge-danger">Fermer</span> {% endif %}</h6>

                        <p class="card-text">{{ service.contenue }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
           

           </div>
        <!-- /row -->

        <hr>
        <h2>Activités Illégales</h2>
        <div class="row">
        {% for service in service if service.categorie in 'ActivitésIllégales' %}
            <!-- Feature -->
            <div class="col-lg-3 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ service.title }}</h4>

                        <p class="card-text ">{{ service.contenue }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /row -->

        <hr>
        <h2>Activités</h2>
        <div class="row">
        {% for service in service if service.categorie in 'Loisir' %}
            <!-- Feature -->
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ service.title }}</h4>

                        <p class="card-text ">{{ service.contenue }}</p>
                    </div>
                </div>
            </div>

           {% endfor %}
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->
    {% endblock %}